@import url(menu/fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
html {
    font-size: 62,5%;
    overflow-x: hidden;
}

body {
    background: lightgray 50% ;
    width: 90%;
    height: 63.3125rem;
}

section {
    width:100% ;
    min-height: 70%;
    padding: 10rem 9%;
}

.header {
    position:fixed;
    top: 10px;
    width: auto;
    height: 2%;
    padding: 2rem 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header .logo img {
    width: 27%;
    margin-left:90px ;
}
.navbar{
    background: #713B3B;
    width: 45%;
    height: 4.4375rem;
    flex-shrink: 0;
    position: sticky;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;

}

.navbar a{
    width: 45%;
    height: 1.5rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 1,7rem;
    margin-left: 3.5rem;
    transition: .3s;
    color: whitesmoke;
    position: relative;
    top: 25px;
    text-align: center;
    font-family: Engravers MT;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navbar a:hover,
.navbar a.active {
    color: #F00;
}

#menu-icon {
    font-size: 3.6rem;
    display: none;
}

.home {
    background: url(../image/bg-removebg-preview.png), lightgray 50% ;
    background-size:100% ;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5%;
}

.home-img img,
.home-content{
    position: relative;
    bottom: 200px;
}

.home-img img {
    width: 35vw;
    border-radius: 200px;
    animation: floatImage 4s ease-in-out infinite;
}

.home-content{
    text-align: center;
    position: relative;
    top:-7.9rem
}


.home-content h3 {
    width: 100%;
    height: 20%;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Engravers MT;
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.home-content h1 {
    color: #F00;
    text-align: center;
    font-family: Engravers MT;
    font-size: 4.0625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.home-content h5 {
    color: #000;
    text-align: center;
    font-family: Engravers MT;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.home-content .btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    transform: .5s ease;
    background: red;
    box-shadow: 0 0 1rem black;
    color: black;
    color: #000;
    text-align: center;
    font-family: Engravers MT;
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10%;
}

.btn:hover {
    box-shadow: none;
    
}

/* css about **/
.about {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: url(../image/bg-removebg-preview.png), lightgray 50% ;
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
    padding: 0;
}

.about .heading {
    text-align: center;
    font-size: 3rem; 
}

.about-content{
   position: relative;
   left: 5%;
   width: 100%;
   height: 70%;  
}

.about-content::before{
    content: '';
    background: url(../image/bg2.jpeg), lightgray 50% ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 90%;
    position: absolute;
    inset: 0;
    opacity: 70%;
    border-radius: 20px;
    border: 0.5px solid red;
}


.about-content h1 {
    text-align: left;
    line-height: normal;
    color: #000;
    text-align: center;
    font-family: Trajan Pro;
    font-size: 5%;
    font-style: normal;
    font-weight: 900;
    position: relative;
}

.about-content h2 {
    position: relative;
    color: #F00;
    text-align: center;
    font-family: Poppins;
    font-size: 41px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.about-content p {
    position: relative;
    margin: 2rem 0 3rem;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    font-style: bold;
    font-weight: 500;
    line-height: normal;
}

.about-content span {
    margin: 2rem 0 3rem;
    color: #F00;
    text-align: center;
    font-family: Poppins;
    font-size: 41px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}

.about-content .btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 1rem 0 0 1rem;
    transform: .5s ease;
    background: red;
    box-shadow: 0 0 1rem black;
    color: black;
    text-align: center;
    font-family: Engravers MT;
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    float: right;
    position: relative;
}

.about-content .btn:hover {
    box-shadow: none;
    
}

/* css history **/

.history {
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url(../image/bg-removebg-preview.png), lightgray 50% ;
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 5rem;
}

.history .heading {
    position: relative;
    bottom: 4rem;
    left: 4rem;
    color: red;
    display: block;
    text-align: center;
    font-family: Engravers MT;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.history-content {
    position: relative;
    bottom: 4rem;
    left: 4rem;
    width:  100%;
    display: flex;
    background: rgba(217, 217, 217, 0.90);
}


.history-content h2{
    position: relative;
    top: 40px;
    width: 90%;
    height: 5.3125rem;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Engravers MT;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
 .history-content p{
    width: 100%;
    height: 19.6875rem;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    top: 60px;
    padding-left: 4%;
 }

 .history-content span{
    color: red;
 }

.h-content {
    display: block;
}

.h-content .btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 1rem 0 0 1rem;
    transform: .5s ease;
    background: red;
    box-shadow: 0 0 1rem black;
    color: black;
    text-align: center;
    font-family: Engravers MT;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    float: right;
    position: relative;
}

.h-content .btn:hover {
    box-shadow: none;
    
}

.history-content .history-img{
    position: relative;
}
.history-img img {
    width: 23vw;
    height: ;
    flex-shrink: 0;
}

/* history 2*/

.history2 {
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url(../image/bg-removebg-preview.png), lightgray 50% ;
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: center;
    padding-left: 0;
    padding-right: 0;
}

.history-content2 {
    position: relative;
    bottom: 5rem;
    height: 60%;
    left: 4rem;
    width:  100%;
    display: flex;
    background: rgba(217, 217, 217, 0.90);
}


.history2 .heading {
    position: relative;
    bottom: 5.3rem;
    left: 4rem;
    color: red;
    display: block;
    text-align: center;
    font-family: Engravers MT;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.history-img2 img {
    width: 100%;
    position: relative;
    left: 2rem;
}


.history-content2 h2{
    position: relative;
    left: 5rem;
    padding-top: 3%;
    width: 40rem;
    height: 5.3125rem;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Engravers MT;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
 .history-content2 p{
    width: 100%;
    height: 19.6875rem;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    padding-left: 7%;
 }
 .history-content2 span {
    margin: 2rem 0 3rem;
    color: #F00;
    text-align: center;
    font-family: Poppins;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}

.h-content2 .btn, .btn2 {
    display: inline-block;
    padding: .5rem 1.5rem;
    border-radius: 1rem 0 0 1rem;
    transform: .5s ease;
    background: red;
    box-shadow: 0 0 1rem black;
    color: black;
    text-align: center;
    font-family: Engravers MT;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    float: right;
    position: relative;
    margin-top: 13%;
}

.h-content2 .btn:hover, .btn2:hover {
    box-shadow: none;
    
}


.h-content2 .btn2 {
    margin-left: 5%;
    padding: 1.5%;
    float: left;
    border-radius: 0 1rem 1rem 0;
    font-size: 1.2rem;
}

/*history 3*/

.history3 {
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url(../image/bg-removebg-preview.png), lightgray 50% ;
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: center;
    padding-left: 0;
    padding-right: 0;
}

.history3 .heading {
    position: relative;
    bottom: 5.3rem;
    left: 4rem;
    color: red;
    display: block;
    text-align: center;
    font-family: Engravers MT;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.history-content3 {
    position: relative;
    bottom: 5rem;
    height: 60%;
    left: 4rem;
    width:  100%;
    display: flex;
    background: rgba(217, 217, 217, 0.90);
}


.history-content3 h2{
    position: relative;
    left: 5rem;
    padding-top: 3%;
    width: 40rem;
    height: 5.3125rem;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Engravers MT;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
 .history-content3 p{
    width: 100%;
    height: 19.6875rem;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    padding-left: 10%;
 }

.h-content3 {
    display: block;
}

.h-content3 .btn, .btn2 {
    display: inline-block;
    padding: .5rem 1.5rem;
    border-radius: 1rem 0 0 1rem;
    transform: .5s ease;
    background: red;
    box-shadow: 0 0 1rem black;
    color: black;
    text-align: center;
    font-family: Engravers MT;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    float: right;
    position: relative;
    margin-top: 13%;
}

.h-content3 .btn:hover, .btn2:hover {
    box-shadow: none;
    
}

.h-content3 .btn2 {
    font-size: 1.2rem;
    margin-left: 5%;
    padding: 1.5%;
    float: left;
    border-radius: 0 1rem 1rem 0;
}


.history-img3 img {
    width: 28vw;
    position: relative;
    top: 6rem;
    padding-left: 6%;
}


/* history4 */

.history4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../image/bg-removebg-preview.png), lightgray 50% ;
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
    padding-right: 0;
}


.heading {
    text-align: center;
    font-size: 2rem; 
}

.history-content4{
    position: relative;
    left: 5%;
    bottom: 2rem;
    width: 100%;
    height: 70%;  
}

.history-content4::before{
    content: '';
    background: url(../image/bg2.jpeg), lightgray 50% ;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-position-x: center;
    position: absolute;
    inset: 0;
    opacity: 70%;
    border-radius: 20px;
}


.history-content4 h1 {
    text-align: left;
    line-height: normal;
    color: #000;
    text-align: center;
    font-family: Trajan Pro;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    position: relative;
    bottom: 3.2rem;
}

.history-content4 h2 {
    position: relative;
    bottom: 3.rem;
    color: #F00;
    text-align: center;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.history-content4 p {
    position: relative;
    margin: 2rem 0 3rem;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: bold;
    font-weight: 700;
    line-height: normal;
}

.history-content4 span {
    margin: 2rem 0 3rem;
    color: #F00;
    text-align: center;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}

.history-content4 .btn , .btn2 {
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 1rem 0 0 1rem;
    transform: .5s ease;
    background: red;
    box-shadow: 0 0 1rem black;
    color: black;
    text-align: center;
    font-family: Engravers MT;
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    float: right;
    position: relative;
}

.history-content4 .btn:hover, .btn2:hover {
    box-shadow: none;
    
}

.history-content4 .btn2 {
    padding: 1.5%;
    float: left;
    position: relative;
    bottom: 8.7rem;
    border-radius: 0 1rem 1rem 0;
}



/*foot nav*/

.foot-nav {
    position:sticky;
    z-index: 0;
    bottom: 34rem;
    width: 100%;
    height: 20px;
    padding:1rem;
    display: inline;
    justify-content: center ;
    align-items: center;
    float: left;
}

.foot-nav a{
    display: block;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border-radius: 50%;
    font-size: 1.5rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    color: #000;
}

.foot-nav a:hover,
.foot-nav a.active {
    color: #F00;
}

/*Profile*/

.profile {
    margin-top: 40rem;
    display: block;
    position: inherit;
    width: 100%;
    background: url(../image/bg-removebg-preview.png), lightgray 50% ;
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 5rem;
    
}
 .profile-container {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 4rem;
    right: 4rem;
 }


 /*profile aziz*/

 .aziz-container {
    position: relative;
    left: 20rem;
    display: flex;
    background: #FF0000;
    width: 40rem;
    height: 15rem;
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
 }

.aziz-container .btn{
    background: #ffff;
    color: red;
}

 .aziz-content {
    display: block;
 }

 .aziz-content h1 {
    text-align: inherit;
 }

 .aziz-content .social-media a:hover {
    background: white;
    columns: red;
    box-shadow: 0 0 1rem white;
}

/*Profile Rizky*/

.rizky-container {
    display: flex;
    background: #ffff;
    position: relative;
    left: 20rem;
    width: 40rem;
    height: 16rem;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
 }

.rizky-container .btn {
    background: red;
    color: #ffff;
}

 .rizky-content {
    display: block;
    font-family: 'rollgates-victoria-regular', sans-serif;
    justify-content: center;
 }

 .rizky-content .social-media a:hover {
    background: red;
    columns: white;
    box-shadow: 0 0 1rem red;
}


.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    position: relative;
    bottom: 2rem;
    color: #000;
}


.profile .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 1rem;
    transform: .5s ease;
    margin-bottom:10px;
    position: relative;
    bottom: 4rem;
    left: 1rem;
    box-shadow: 0 0 1rem black;
}

.profile .btn:hover {
    box-shadow: none;
}

.profile .aziz-content,
.profile .rizky-content {
    position: relative;
    left: 1rem;
}


.profile h1,h2,h3 {
    position: relative;
    left: 1rem;
}


/*footer*/
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 10px ;
}

.footer-text p {
    font-size: 1.5rem;
    color: black;
}

.footer-icontop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    border-radius: .8rem;
    transition: .5s ease;
    background: #F00;
}



.footer-icontop a i  {
    font-size: 2.2rem;
    color: white;
}

.footer-icontop a:hover {
    box-shadow: 0 0 1rem white;
}