* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background: url(/IKI/Kelompok-1/image/bg-removebg-preview.png);
    background-size: cover;
}